<div>
  <ul id="social-media">
    <li><i class="fa-brands fa-facebook"></i></li>
    <li><i class="fa-brands fa-instagram"></i></li>
    <li><i class="fa-brands fa-twitter"></i></li>
    <li><i class="fa-brands fa-google-play"></i></li>
    <li><i class="fa-brands fa-app-store-ios"></i></li>
  </ul>
</div>

<p>All right reserved. Once Upon A Book Inc</p>
