<nav class="navbar fixed-top navbar-light bg-light">
  <a class="brand-typo" href="#">Once upon a book</a>
  <div class="nav-right">
    <a class="nav-text"> Hi, @name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
</div>
  <div class="navbar-collapse collapse" id="collapsingNavbar">
      <ul class="navbar-nav">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">My items</a>
            <a class="dropdown-item" href="#">My orders</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="#">My favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-book"></i> Sell a book</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Hi, @name</a>
          </li> -->
      </ul>
  </div>
</nav>
