<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body>
    <% if (messages) { %>
      <ul>
        <% for (const thread of messages) { %>
          <li><%= thread.message_count %> messages between <%= thread.user1 %> and <%= thread.user2 %>.</li>
        <% } %>
      </ul>
    <% } %>
  </body>
</html>
