<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body>
    <ul>
      <% for (const message of messageThread) { %>
        <li>From <%= message.sender %>: <%= message.message_body %></li>
      <% } %>
    </ul>
    <form action="/conversations/<%= messageThread[0].conversation_id %>" method="POST" id="message-reply">
      <input type="hidden" name="convo_id" value="<%= messageThread[0].conversation_id %>">
      <label for="message">Reply: </label>
      <input type="text" name="message">
      <button type="submit">Send</button>
    </form>
  </body>
</html>
