#edit-delete {
  display: flex;
  .listing-button {
    display: flex;
    margin: 10px;
    text-decoration: none;
  }
  button {
    background-color: purple;
    color: antiquewhite;
    border-radius: 4px;
  }
  button:hover {
    background-color: gray;
  }
}
